.cadastrar{
    position: relative;
    left: 40%;
    top: 29%;
    
}

.list-group{
    position: relative;
    left: 37%;
    top: 29%;

}

.lista{
    position: relative;
    left: -5%;
    top: 29%;

}