<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<div class="formulario">
    <h2> CADASTRO DE LIVROS </h2>
    <br>
        <div id="titulo">
            <label for="titulo">Título do Livro:</label>
            <input class="titulo" type="text" name="titulo" [(ngModel)]="titulo" />
        </div>
        <div id="editora">
            <label for="editora">Editora:</label>
            <input class="editora" type="text" name="editora" [(ngModel)]="editora" />
        </div>
        <div id="anopublicacao">
            <label for="anopublicacao">Ano de Publicação:</label>
            <input class="anopublicacao" type="text" name="anopublicacao" [(ngModel)]="anopublicacao" />
        </div>
        <div id="edicao">
            <label for="edicao">Edição do Livro:</label>
            <input class="edicao" type="text" name="edicao" [(ngModel)]="edicao" />
        </div>
        <div id="pagina">
        <label for="pagina">Número de Páginas:</label>
        <input class="pagina" type="text" name="pagina" [(ngModel)]="pagina" />
        </div>
        <br>
        <div>
            <button class="cadastrar" (click)="cadastrar()">Cadastrar</button>
            <button class="voltar" routerLink="/livro/listar">Voltar</button>
        </div>
</div>